.orange {
  background-color: orange;
}
.blue {
  background-color: blue;
}
.green {
  background-color: green;
}
.gray {
  background-color: gray;
}
.yellow {
  background-color: yellow;
}
.fontSize {
  font-size: 40px;
}
.text {
  text-decoration: underline;
}
